*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 100%;
    height: 600px;
    background-color: hsl(0, 0%, 15%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 550px;
    padding: 20px;
    gap: 8px;
    border-radius: 8px;
}

.calculator .output {
    background-color: rgb(23, 230, 23);
    grid-column: 1/5;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
    padding: 20px;
    border-radius: 4px;
}

.calculator button {
    font-size: 30px;
    font-weight: 600;
    border: none;
    background: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

.calculator button:hover {
    background: rgb(240, 65, 65);
}

.calculator button:active {
    background: rgb(134, 49, 49);
}

.span-two {
    grid-column: span 2;
}







